html {	
	font-family: Arial, Helvetica, sans-serif;	
	background-color: #252537;;
	color:whitesmoke;	
}
body {
	max-width: 1180px;
	margin: auto;
}
h1 {
	font-size: 3em;
}
ul {	
	padding: 5px 0px;	
	list-style: none;
	background-color: #333;
	font-size: 2em;
}
li {
	display: inline;
}
a {
	
	color: gold;
}
/* Descendend Selector - only styles a within li */
li a {	
	text-decoration: none;
	padding: 5px 25px;
	text-align: left;
}
li a:hover {
	color: #bbb;
}

a:visited {
	color: darkgoldenrod;
}
.active {
	background-color: white;
}