html {	
	font-family: Arial, Helvetica, sans-serif;	
	background-color: #252537;
	color:whitesmoke;	
}
body {
	max-width: 1180px;
	margin: auto;
}
h1 {
	font-size: 3em;
}
h3 {
	margin-block-start: 1.5em;
	margin-block-end: 0.75em;
}
p {
	margin-block-start: 0.75em;
}
img {	
	border: 2px solid #555;
	margin-right: 10px;
	margin-bottom: 20px;
}
img.icon {
	border :0px;
}
#profile_picture {
	border: none;
	margin: 0px;	
	float: right;
}

/* For the navigation bar */
ul {	
	padding: 5px 0px;	
	list-style: none;
	background-color: #333;
	font-size: 1.75em;
}
li {
	display: inline;
}
a {	
	color: gold;
}

/* Descendend Selectors - these two only apply to an a contained within li */
li a {	
	text-decoration: none;
	padding: 5px 25px;
	text-align: left;
}
li a:hover {
	color: #bbb;
}

/* Navbar classes - shows the user which page he or she is on. */
.active {
	background-color: #b3b3cc;
	color: darkgoldenrod;
}